# Server Port Configuration
PORT=3000

# MongoDB Connection String
# For Local MongoDB Server: mongodb://127.0.0.1:27017/portfolio_db
# For MongoDB Atlas Cloud: mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio_db
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio_db

# Admin Security Keys
ADMIN_ACCESS_KEY=admin_secret_key_change_me
SUPER_ADMIN_ACCESS_KEY=super_admin_secret_key_change_me

# Gmail SMTP Authentication details for forwarding notifications
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
