<footer class="footer-section">
  <div class="container footer-simple-content">
    <div class="social-icons">
      <a href={{github}} target="_blank" title="GitHub" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
      <a href={{linkedin}} target="_blank" title="LinkedIn" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="mailto:{{ email }}" title="Email" class="social-icon">
        <i class="far fa-envelope"></i>
      </a>
    </div>
    <p class="footer-copyright">&copy; {{ currentYear }} Kalaivani S. All rights reserved.</p>
  </div>
</footer>
